*.cm[ioxa]
*.cmx[as]
*.[oa]
*.so
*.annot
config/Makefile
/compiler/camlidl
/compiler/config.ml
/compiler/lexer_midl.ml
/compiler/linenum.ml
/compiler/parser_midl.ml
/compiler/parser_midl.mli
/compiler/parser_midl.output
